@model InternalProj.Models.StudioCallLog

@{
    ViewData["Title"] = "Create";
}

@* <h1>Create</h1> *@

@* <h4>Studio Call Log</h4> *@

<div class="common-pages-layout">
    <div class="common-inner-container">
        <h3 class="page-heading">Create Studio Call Log</h3>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CustomerId" class="control-label">Customer Name</label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId" id="customerSelect" style="width: 200px;">
                    <option value="">-- Select Customer --</option>
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="StudioName" class="control-label"></label>
                <input asp-for="StudioName" class="form-control" style="width: 200px;" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" style="width: 200px;" readonly />
            </div>


            <div class="form-group">
                <label asp-for="Region" class="control-label">Address</label>
                <input asp-for="Region" class="form-control" style="width: 200px;" readonly />
            </div>

            <div class="form-group">
                <label asp-for="CallTime" class="control-label"></label>
                <input asp-for="CallTime" class="form-control" style="width: 200px;" id="callTimeInput" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" style="width: 200px;"></textarea>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdatedCallTime" class="control-label"></label>
                <input asp-for="UpdatedCallTime" class="form-control" style="width: 200px;" id="updatedCallTimeInput" />

            </div>

            <input type="hidden" asp-for="Active" value="Y" />

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" style="width: 100px;" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(document).ready(function () {

            const now = new Date();
            const maxCallTime = now.toISOString().slice(0, 16);
            const minCallTime = new Date(now.getTime() - (7 * 24 * 60 * 60 * 1000)).toISOString().slice(0, 16);
            $('#callTimeInput').attr('min', minCallTime).attr('max', maxCallTime);

            $('#updatedCallTimeInput').prop('disabled', true);

            $('#callTimeInput').on('change', function () {
                const selectedCallTime = new Date($(this).val());
                if (!isNaN(selectedCallTime)) {

                    $('#updatedCallTimeInput').prop('disabled', false);

                    const minUpdate = selectedCallTime.toISOString().slice(0, 16);
                    const maxUpdateDate = new Date(selectedCallTime.getTime() + (30 * 24 * 60 * 60 * 1000));
                    const maxUpdate = maxUpdateDate.toISOString().slice(0, 16);

                    $('#updatedCallTimeInput').attr('min', minUpdate).attr('max', maxUpdate);
                } else {

                    $('#updatedCallTimeInput').val('').prop('disabled', true);
                }
            });

            $('#customerSelect').change(function () {
                const customerId = $(this).val();
                if (customerId) {
                    $.ajax({
                        url: '/StudioCallLogs/GetCustomerDetails/' + customerId,
                        type: 'GET',
                        success: function (data) {
                            $('[name="StudioName"]').val(data.studioName);
                            $('[name="Phone"]').val(data.phone);
                            $('[name="Address1"]').val(data.address1);
                            $('[name="Address2"]').val(data.address2);
                            $('[name="State"]').val(data.state);
                            $('[name="Region"]').val(data.region);
                        },
                        error: function () {
                            alert('Error loading customer details.');
                        }
                    });
                } else {
                    $('[name="StudioName"], [name="Phone"], [name="Address1"], [name="Address2"], [name="State"], [name="Region"]').val('');
                }
            });
        });
    </script>
}
